*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container_box{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    text-align: center;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 20px;
    padding: 10px 0px;
}

.box_title{
    margin-bottom: 20px;
}
.box_generator{
    padding: 30px;
}

.button_password{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #83d7f7;
    border: none;
    border-radius: 30px;
}

.button_password:hover{
    background-color: #54a5c5;
    cursor: pointer;
}